.App-bottom-bar{
    background-color: #c3c3c3;
    position: fixed;
    height: max-content;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    margin: 0 auto;
    width:auto;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
}
  
  
  .Bottom-bar-icon{
    height:5vh;
    width: 5vw;
    margin-left:1vh;
    align-items:left;
  }