.Folder-Container-Properties{
    height:max-content;
    width:max-content;
    align-items: center;
    display: inline-block;  
  }


  .css-ur2jdm-MuiContainer-root{
    width:max-content;
  }

  
.Folder-icon{
    height: 8vh;
    margin-top:5px
  }

.FolderText{
    color:#fdffff  ;
    font-family: Microsoft;
    margin-top:0;
   text-align: center;
}