.popup{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 10%
}

.window{
    width: 25%;
    align-items:center;
    transition: all 0s ease; /* Smooth transition */
    left: 50%;
  }

.field-row{
  display:inline-block;
  height: inherit;
}
.window-body{
  height:inherit
}

