.window{
    width: 50%;
    align-items:center;
    transition: all 0.3s ease; /* Smooth transition */
  }

.field-row{
  display:inline-block;
  height: inherit;
}
.window-body{
  height:inherit
}

