.Project-Container-Properties{
    height:max-content;
    width:max-content;
    align-items: center;
    display: inline-block;  
  }
  .css-ur2jdm-MuiContainer-root{
    width:max-content;
  }   

  .Project-icon{
    margin-left: 5vh;
    height: 8vh;
    margin-top:5px
  }

  .ProjectText{
    color:#fdffff  ;
    font-family: Microsoft;
    margin-top:0;
    margin-left: 5.5vh;
    width:max-content;
    text-align: center;
  }
