@font-face {
  font-family: 'Microsoft';
  src: url('./assets/fonts/Windows_Regular.ttf') format('truetype');
}

.App-header {
  background-color: #1695A0;
  display: flex;
  min-height: 120vh;
  flex-direction: column;
  align-items: center;
}

body{
  width:100%;
  height:300%;
  font-family: 'Microsoft';
}

.App {
  align-items: center;
  background-color: #1695A0;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=128661);
  font-family: "Microsoft";
  height: max-content;
}



.AvatarContainer{
  display:inline-block;
}

.MyAvatar{
  width:100%;
  height:100%;
  text-align: left;
}
.PopUpPicture{
  width: 150px;
  height: 300px;
}

.App-link {
  color: #61dafb;
}



