@font-face {
  font-family: 'Microsoft';
  src: url('./assets/fonts/Windows_Regular.ttf') format('truetype');
}

.highlight:active{
  color:#010081
}

.App {
  text-align: center;
  background-color: #1695A0;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=128661);
}

.Container-Properties{
  max-width: 10vh;
  align-items: center;
  display: inline-block;
}
.Container-Properties:hover{
  transform: scale(1.2);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1695A0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: left;
}

.Folder-icon{
  margin-left: 5vh;
  height: 8vh;
  width: 4vw;
  margin-top: 10vh ;
}

.App-bottom-bar{
  background-color: #c3c3c3;
  position: fixed;
  height: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}


.Bottom-bar-icon{
  height:5vh;
  width: 5vw;
  margin-left:1vh;
  align-items:left;


}

.App-link {
  color: #61dafb;
}

.FolderText{
  color:#fdffff  ;
  font-family: Microsoft;
  margin-top:0;
  margin-left: 5.5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


