@font-face {
  font-family: 'Microsoft';
  src: url('./assets/fonts/Windows_Regular.ttf') format('truetype');
}

.first-row, .second-row{
  display: flex
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%; /* Adjust this value to fit your needs */
  padding: 20px;
  background: transparent; /* Adjust background color as needed */
  border-radius: 10px; /* Optional: For rounded corners */
}

.App {
  align-items: center;
  background-color: #1695A0;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=128661);
  font-family: "Microsoft";
  height: 100vh;
}

.App-header {
  background-color: #1695A0;
  display: flex;
  min-height: auto;
  flex-direction: column;
  align-items: center;
}

body{
  width:100%;
  height:auto;
  font-family: 'Microsoft';
  display:inline-block;
}



.PopUpPicture{
  width: 150px;
  height: 300px;
}

.App-link {
  color: #61dafb;
}

.Bottom-Container{
  display:grid;
}

