.Folder-Container-Properties{
    height:max-content;
    width:max-content;
    align-items: center;
    display: inline-block;  
  }


  .css-ur2jdm-MuiContainer-root{
    width:max-content;
  }


  .Folder-icon:onClick, .FolderText:onClick{
    transform: scale(1.2);
    transform-origin: left bottom;
  }

  
.Folder-icon{
    margin-left: 5vh;
    height: 8vh;
    margin-top:5px
  }

.FolderText{
    color:#fdffff  ;
    font-family: Microsoft;
    margin-top:0;
    margin-left: 5.5vh;
}
  